*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    height: 100vh;
    background-color: burlywood;
    margin: 0 auto;
}

.gallery_img{
    width: 300px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 450px){
    .container{
        background-color:  red;
        width: 100%;
        height: auto;
    }
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    .gallery_img{
        margin-bottom: 30px;
    }
}